* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 650px;
    margin: 1rem auto;
    overflow: auto;
    padding: 0 2rem;
}


/* h1 {
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 35%;
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 20%;
} */

h5 {
    font-size: small;
    text-align: center;
    /* color: red; */
    margin-bottom: 1cm;
}


/* .streamContainer { 
    /* border: 4px solid black; */


/* background-color: lightgrey; */


/* width: 650px; */


/* margin: 2rem auto; */


/* overflow: auto; */


/* padding: 0 2rem; */


/* padding: 10px; */


/* margin: auto; */


/* } 
/*  */

h3 {
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
}

img {
    width: 100%;
}

p.message {
    color: red;
    text-align: center;
    margin-top: 0;
}

.logo {
    width: 300px;
    display: block;
    margin: auto;
}

.form-input {
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
}

.btn {
    display: block;
    width: 100%;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
}